// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Arial', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$darkBlue: #1a0dab;
$indigo: #6574cd;
$purple: #609;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$darkGreen: #006621;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: rgba(32,33,36,0.28);
$white: rgba(223,225,229,0);
$black: rgba(0,0,0,.87);
